footer{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 15px;
}
.copyFooter{
  padding: 10px 0;
  text-align: center;
  background-color:  rgb(31, 31, 31);
}
.copyFooter a{
  text-decoration: none;
  color: red;
}
.copyFooter a:hover{
  font-weight: bold;
  color: rgb(253, 65, 65);
}
.redesSoc{
  background-color:  rgb(31, 31, 31);
}
.redesSoc ul{
  margin: 0;
  padding: 7px 0;
  text-align: center;
  font-size: 20px;
}
.redesSoc ul a{
  padding: 0 15px;
  color: rgb(255, 204, 204);
  text-decoration: none;
}
.redesSoc .icon-facebook:hover{color: #1877f2;}
.redesSoc .icon-instagram:hover{color: #e4405f;}
.redesSoc .icon-twitter:hover{color: #1da1f2;}